@media screen and (max-width: 1395px) {
  .faq {
    &__title {
      font-size: 50px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1250px) {
  .course-information {
   background-position: right 35% bottom 45%;
    padding: 0 20px;
  }

  .program-experts {

    &__container {
      flex-direction: column;
      text-align: center;
      max-width: 372px;
    }

    &__box {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      gap: 10px;
    }

    &__text {
      max-width: 310px;
    }

    &__subtitle {
      margin: 0 auto;
      right: auto;
    }

    &__list {
      flex-direction: column;
      max-width: 372px;
      gap: 15px;
    }
  }
}

@media screen and (max-width: 1233px) {

  .course-faq {
    margin: 0 30px;
    padding: 56px 30px 61px 50px;
  }

  .join-form {
    &__price-title {
      font-size: 28px;
    }

    &__block {
      padding: 25px 30px 30px 30px;
    }
  }

  .tutor-teachers {
    &__container {
      gap: 10px;
    }
  }
}

@media screen and (max-width: 1220px) {
  .faq {
    &__position {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .course-advantages {
    max-width: 800px;
    margin-top: 75px;

    &__container {
      &:nth-child(2) {
        flex-wrap: wrap;
        max-width: 700px;
        margin: 0 0 auto;
        padding-left: 35px;
      }
    }
  }

  .people-target {
    &__title {
      margin-bottom: 50px;
    }
  }

  .session-dates {
    &__title {
      text-align: center;
    }

    &__block {
      padding: 0;
    }

    &__header {
      margin: 100px auto 50px;
      text-align: center;
    }
  }

  .program-experts {
    padding: 0 20px 201px;
    &__title {
      font-size: 35px;
      text-align: center;
      margin: 0 auto 65px;
    }
  }
}

@media screen and (max-width: 1216px) {
  .about-authors {
    padding: 0 20px;
    margin: 0;

    &__container {
      padding: 0;
    }

    &__title {
      margin: 70px 0 65px 30px;
    }

    &__header {
      font-size: 50px;
      max-width: none;
    }

    &__box {
      padding: 0 10px;
    }

    &__subtitle {
      max-width: 550px;
    }

    &__list {
      justify-content: center;
    }

    &__list-item {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: none;
    }
  }

  .program-experts {
    padding: 0 20px 100px;
  }

  .yandex-map {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;

  }

  .contacts {
    position: static;
    margin: 0 auto 25px;
    z-index: 0;
  }

}

@media screen and (max-width: 1180px) {
  .header {
    &__nav-menu {
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      background-color: #ffffff;
      top: -370px;
      right: 0;
      max-width: 487px;
      gap: 12px;
      margin: 0 auto;
      border-radius: 0 0 10px 10px;
      padding: 33px 0 62px 55px ;
      transition: top 1s ease-out;
      box-sizing: border-box;
    }

    &__box {
      display: block;
    }

    &__link {
      padding-left: 15px;

      &:after {
        display: none;
      }
    }

    &__burger-menu {
      display: block;
      margin-top: 4px ;
    }

    &__button {
      max-width: 200px;
      text-align: center;
    }
  }

  .course-advantages {
    margin-bottom: 100px;
  }

  .course-program {
    &__title {
      max-width: none;
      margin-bottom: 25px;
    }

    &__subtitle {
      max-width: none;
    }

    &__container {
      display: block;
    }
  }

  .training-block {
    &__menu {
      justify-content: space-around;
    }

    &__block {
      padding-left: 70px;
    }
  }


  .teachers-feedback {
    padding: 0 50px;
    margin: 0 auto 50px;

    &__title {
      font-size: 50px;
      margin-top: 80px;
    }

    &__slideText {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 1131px) {
  .session-dates {
    &__list {
      flex-wrap: wrap;
      gap: 25px;
      justify-content: space-between;
    }

    &__items {
      flex-wrap: wrap;
      gap: 25px;
      margin-top: 25px;
      justify-content: space-between;
    }

    &__list-item {
      display: flex;
      gap: 25px;
      justify-content: space-between;
    }

    &__dates {
      display: flex;
    }
  }

  .tutor-teachers {

    &__container {
      gap: 50px;
    }

    &__image {
      display: none;
    }
  }

}

@media screen and (max-width: 1110px) {
  .course-faq {
    padding: 56px 40px 61px 40px;
    flex-wrap: wrap;
    gap: 25px;
    flex-direction: column;

    &__container {
      width: auto;
      gap: 25px;
      justify-content: space-around;
    }

    &__content {
      width: 314px;
      max-width: none;
    }
  }

  .people-target {

    &__list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
    }

    &__list {
      flex-direction: column;
      align-items: center;
    }

    &__subtitle {
      max-width: 425px;
    }

    &__list-item {
      max-width: none;
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 1070px) {
  .course-faq {
    padding: 56px 20px 61px 35px;
  }
}

@media screen and (max-width: 1030px) {
  .join-form {
    &__price-form {
      padding: 90px 40px 100px 30px;
    }

    &__title {
      font-size: 35px;
      line-height: normal;
    }
  }
}

@media screen and (max-width: 1000px) {
  .tutor-teachers {
    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__title {
      max-width: none;
      margin-bottom: 25px;
    }

    &__block {
      align-self: flex-start;
    }

    &__list {
      max-width: 800px;
      justify-content: space-around;
    }

    &__list-item {
      width: 335px;
    }
  }
}

@media screen and (max-width: 970px) {
    .training-block {
      &__menu {
        padding-left: 0;
      }
    }
}

@media screen and (max-width: 933px) {
  .join-form {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    &__price-form {
      max-width: 100%;
      border-radius: 10px;
    }

    &__block {
      border-radius: 10px;
    }
  }

  .training-block {
    &__menu {
      padding-left: 15px;
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 925px) {
  .session-dates {
    &__container {
      padding-left: 40px;
    }

    &__title {
      font-size: 50px;
    }

    &__list {
      font-size: 26px;
    }

    &__items {
      font-size: 26px;
    }

  }
}

@media screen and (max-width: 850px) {
  .training-block {

    &__box {
      &::before {
        display: none;
      }
    }

    &__container {
      display: none;
    }

    &__container-mobile {
      display: block;
    }

    &__block-mobile {
      border-radius: 23px;
      border: 1px solid #17144D;
      background-color: #F0EFF4;
      margin: 0 auto;
    }

    &__link {
      margin: 60px auto 80px;
    }
  }

  .course-program {
    &__title {
      font-size: 36px;
    }
  }

  .tutor-teachers {
    &__header {
      font-size: 36px;
      margin-bottom: 40px;
      line-height: 40px;
    }

    &__list {
      flex-direction: column;
    }

    &__box {
      max-width: 330px;
      padding: 0 10px;
    }

    &__name {
      margin: 0 0 17px;
    }

    &__list-item {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 700px;
      width: auto;
      column-gap: 40px;
    }

    &__title {
      font-size: 28px;
    }

    &__subtitle,
    &__subtitle_narrow,
    &__subtitle_small {
      max-width: 550px;
      width: auto;
    }
  }

  .course-faq {
    padding: 56px 40px 61px 40px;
    flex-wrap: wrap;
    gap: 25px;
  }

  .course-advantages {
    &__line {
      margin: 9px 0 0 0;
    }

    &__block {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__box {
      width: 300px;
    }

    &__title {
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 50px;
      max-width: none;


      &_br {
        display: block;
      }
    }

    &__container {
      display: block;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
      padding: 0;

      &:nth-child(2) {
        justify-content: center;
        gap: 50px;
        padding: 0;
        margin: auto;
      }
    }
  }

  .people-target {
    padding-top: 0;

    &__title {
      font-size: 50px;
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 846px) {
  .contacts {
    margin: 0 20px;
  }
}

@media screen and (max-width: 818px) {

  .about-authors {
    &__header {
      font-size: 40px;
    }

    &__title {
      margin: 40px auto 45px;
      font-size: 28px;
      max-width: none;
    }

    &__list-item {
      flex-wrap: nowrap;
    }

    &__box {
      width: auto;
      max-width: 330px;
    }
  }

  .teachers-feedback {
    padding: 0 50px;
    margin: 0 auto 50px;

    &__title {
      margin: 50px auto;
      text-align: center;
    }

    &__slider {
      padding: 20px 20px 60px;
      min-height: 480px;
      height: auto;
      position: relative;
    }

    &__author {
      position: absolute;
      bottom: 20px;
      left: 40px;
    }
  }

}

@media screen and (max-width: 811px) {
  .course-faq {
    &__tags {
      position: relative;

      &::before {
        content: '';
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 1px solid #453A72;
        position: absolute;
        left: -38px;
        top: 10px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .course-information {
    background-position: right 35% bottom 45%;
  }

  .session-dates {
    &__container {
      padding-left: 20px;
    }

    &__list-item {
      gap: 15px;
    }

    &__diploma-title {
      font-size: 26px;

    }

    &__subtitle {
      font-size: 20px;
      line-height: 1.6rem;
    }
  }
}

@media screen and (max-width: 758px) {
  .session-dates {
    &__list {
      justify-content: center;
    }

    &__items {
      justify-content: center;
    }

    &__dates {
      display: block;
    }
  }

  .faq {
    &__title {
      font-size: 40px;
      margin: 100px 0 45px;
    }
  }
}

@media screen and (max-width: 740px) {
  .course-faq {
    padding: 56px 20px 61px 70px;
  }

  .program-experts {
    &__title {
      font-size: 28px;
      line-height: 32px;
    }
  }

  .contacts {
    padding: 50px 20px 64px 80px;
  }
}

@media screen and (max-width: 700px) {
  .about-authors {
    padding: 0 20px;
    margin: 0;
  }
}

@media screen and (max-width: 690px) {
  .program-experts {
    padding: 0 20px 100px;

    &__box {
      display: block;
    }

    &__container {
      gap: 25px;
    }

    &__link_adaptive {
      transform: scale(0.7);
      position: relative;
      right: 15px;
    }

    &__list {
      gap: 25px;
    }
  }

  .contacts {
    padding: 50px 20px 80px;
    margin: 0 20px;

  }
}

@media screen and (max-width: 676px) {
  .course-advantages {
    &__block {
      justify-content: center;
    }

    &__box {
      display: flex;
      width: auto;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__image {
      margin-right: 15px;
    }

    &__subtitle {
      max-width: 350px;

      &_narrow {
        max-width: none;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .course-information {
    background-image: url("../img/container/course-information/course-information__background_mobile.jpg");
    background-position: right 10%;
    padding: 0;

    &__container {
      padding: 22px 20px   92px 20px;
    }

    &__description {
      font-size: 22px;
      margin-bottom: 31px;
      max-width: 100%;
    }

    &__title {
      font-size: 50px;
    }

    &__subtitle {
      text-align: left;
      font-size: 18px;
      max-width: 496px;
    }

    &__box {
      flex-wrap: wrap-reverse;
      justify-content: space-between;
    }

  }

  .course-faq {
    transform: translateY(-25px);

    &__container {
      flex-direction: column;
      flex-wrap: nowrap;
      align-self: center;
    }
  }

  .people-target {
    &__title {
      font-size: 40px;
      line-height: normal;
    }
  }

  .about-authors {
    padding-bottom: 80px;

    &__list-item {
      column-gap: 25px;
      margin: 0;
    }

    &__list {
      row-gap: 30px;
    }
  }

  .tutor-teachers {
    &__list-item {
      column-gap: 25px;
    }

    &__list {
      row-gap: 30px;
    }
  }

}

@media screen and (max-width: 612px) {

  .course-advantages {
    margin-top: 55px;

    &__title {
      margin-bottom: 35px;

    }
  }

  .tutor-teachers {
    &__title {
      font-size: 26px;
      line-height: 32px;
    }
  }

  .about-authors {
    &__header {
      font-size: 40px;
    }

    &__title {
      margin: 40px auto 45px;
      font-size: 26px;
      line-height: 32px;
      max-width: none;
    }
  }

  .faq {
    padding: 0 10px 100px;

    &__title {
      font-size: 30px;
      margin: 40px 0 35px;
    }
  }
}

@media screen and (max-width: 600px) {
  .course-information {
    &__description {
      font-size: 18px;
    }

    &__subtitle {
      margin-bottom: 30px;
      font-size: 16px;
      max-width: 450px;
    }

    &__box {
      row-gap: 123px;
    }

    &__button {
      border: 1px solid #2A285A;
    }

    .session-dates {

      &__list {
        justify-content: center;
        gap: 25px;
      }

      &__items {
        justify-content: center;
      }

      &__dates {
        display: block;
        line-height: 40px;
      }

      &__list-item {
        gap: 5px;
        max-width: 296px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 592px) {
  .tutor-teachers {
    padding-right: 0;

    &__list-item {
      column-gap: 10px;
    }

    &__box {
      padding: 0;
    }

    &__avatar {
      transform: scale(0.94);
    }

    &__name {
      font-size: 22px;
      line-height: 26px;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .about-authors {
    padding-right: 0;

    &__list-item {
      column-gap: 10px;
    }

    &__box {
      padding: 0;
    }

    &__avatar {
      transform: scale(0.94);
    }

    &__name {
      font-size: 22px;
      line-height: 26px;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

@media screen and (max-width: 570px) {
  .course-information {

    &__description {
      font-size: 18px;
    }

  }

  .session-dates {
    padding: 73px 0 83px;

    &__container {
      padding: 73px 0 83px;
      border-radius: 0;
    }

    &__content {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 559px) {
  .course-advantages {
    &__title {
      max-width: 305px;
      padding: 0;
    }
  }

  .footer {
    &__img {
      display: none;
    }
  }

}

@media screen and (max-width: 530px) {

  .course-information {

    &__subtitle {
      font-size: 16px;
    }
  }

  .faq {
    &__title {
      font-size: 24px;
      line-height: normal;
      margin: 20px 0 25px;
    }
  }

  .about-authors {
    &__name {
      font-size: 22px;
      line-height: 25px;
    }

    &__list-item {
      gap: 10px;
    }
  }
}

@media screen and (max-width: 502px) {
  .header {
    &__nav-menu {
      padding: 30px 20px 30px 30px;
      max-width: none;
      position: absolute;
      width: 100%;
      box-sizing: border-box;
    }
  }

  .people-target {
    &__list-item {
      display: block;
    }

    &__subtitle {

    }
  }

  .course-program {
    &__title {
      font-size: 36px;
    }
  }
}

@media screen and (max-width: 480px) {

  .course-faq {
    &__content {
      width: auto;
    }
  }

  .tutor-teachers {
    padding-left: 30px;

    &__container {
      gap: 15px;
    }

    &__header{
      padding: 0;
    }

    &__title {
      padding: 0;
    }

    &__list-item {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  .about-authors {
    padding-left: 30px;

    &__header{
      padding: 0;
    }

    &__title {
      padding: 0;
    }

    &__list-item {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 450px) {
  .course-information {
    &__title {
      font-size: 30px;
    }
  }

  .teachers-feedback {
    padding: 0;

    &__title {
      font-size: 40px;
    }

    &__slider {
      padding: 20px 30px 60px;
      border-radius: 0;
    }

    &__slideText {
      padding: 0;
    }

    &__prev {
      left: 1px;
    }

    &__next {
      right: 1px;
    }
  }

  .contacts {
    padding: 50px 20px 80px;
    margin: 0;
    border-radius: 0;

    &__title {
      font-size: 30px;
      line-height: normal;
    }

    &__subtitle {
      font-size: 26px;
      line-height: normal;
    }

    &__links {
      display: flex;
      max-width: 280px;
      justify-content: space-between;
    }

    &__link {
      margin: 0;
    }
  }

  .join-form {
    padding: 68px 0 50px;

    &__container {
      gap: 0;
    }

    &__block {
      border-radius: 0;
      padding: 25px 10px 30px;
    }

    &__price-form {
      border-radius: 0;
    }
  }

  .scrollUp-button {
    right: 20px;
    bottom: 20px;
  }
}

@media screen and (max-width: 440px) {
  .course-advantages {
    padding: 0 15px 0 30px;

    &__image {
      margin-right: 8px;
    }
  }

  .course-faq {
    padding-left: 40px;

    &__tags {
      &::before {
        left: -22px;
      }
    }
  }
}

@media screen and (max-width: 420px) {

  .session-dates {
    &__title {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 400px) {
  .course-faq {
    margin: 0 20px;

    &__tags {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 374px) {
  .about-authors {
    padding-right: 10px;
  }

  .training-block {
    &__link {
      font-size: 20px;
      padding: 18px 23px;
      margin: 60px 20px 80px  ;
    }
  }

  .tutor-teachers {
    &__header {
      font-size: 32px;
      line-height: 36px;
    }
  }
}

@media screen and (max-width: 370px) {
  .header {
    &__logo {
      width: 80%;
    }
  }

  .footer {
    &__link {
      font-size: 18px;
    }
  }

  .join-form {
    &__button {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 360px) {
  .course-information {
    &__button {
      font-size: 18px;
      padding: 18px 41px;
    }
  }
}

@media screen and (max-width: 350px) {
  .course-advantages {
    &__title {
      font-size: 30px;
    }
  }

  .session-dates {
    &__header {
      font-size: 34px;
    }
  }

  .contacts {
    &__adaptive {
      display: block;
    }
  }
}

@media screen and (max-width: 330px) {
  .course-information {
    &__description {
      font-size: 16px;
    }
  }
}

@media screen and (orientation: landscape) and (max-height: 500px) {
  .header {
    &__nav-menu {
      padding-top: 2px;
      width: 100vw;
      max-width: none;
      box-sizing: border-box;
      gap: 5px;
    }

    &__link {
      line-height: normal;
    }

    &__box {
      width: 100%;
    }
  }
}

