.quote {
  font: 400 italic 32px/34px 'EB Garamond', sans-serif;
  color: #6792ff;
}

.title {
  font: 700 40px/44px 'Proxima Nova', sans-serif;
}

.subtitle {
  font: 400 22px/34px 'Proxima Nova', sans-serif;
}
//
.course-information {
  background-image: url("../img/body/course-information/title-course__background-three.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 820px;
  margin: 0 auto;

  &__container {
    max-width: 1337px;
    margin: 0 auto;
    color: #ffffff;
    padding: 83px 0 0 88px;
  }

  &__start-time {
    font: 700 32px/34px 'Proxima Nova', sans-serif;
    margin-bottom: 15px;
  }

  &__title {
    font: 900 60px/64px 'Proxima Nova', sans-serif;
    max-width: 875px;
    margin-bottom: 15px;
  }

  &__subtitle {
    font: 400 22px/36px 'Proxima Nova', sans-serif;
    max-width: 717px;
    margin-bottom: 35px;
  }

  &__button {
    border-radius: 30px;
    background-color: #f75968;
    font: 600 26px/34px 'Proxima Nova', sans-serif;
    padding: 18px 71px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
  }

  &__content {
    max-width: 316px;
  }

  &__tags {
    font: 700 32px/34px 'Proxima Nova', sans-serif;
    margin-bottom: 10px;
  }

  &__tag {
    font: 400 22px/36px 'Proxima Nova', sans-serif;
  }
}

.course-advantages {
  max-width: 1260px;
  margin: 55px auto 0;

  &__title {
    font: 700 40px/44px 'Proxima Nova', sans-serif;
    color: #484848;
    margin-bottom: 58px;
  }

  &__list {
    font: 400 32px/40px 'Proxima Nova', sans-serif;
    color: #484848;
    list-style-type: none;
    max-width: 1010px;
  }

  &__list-item {
    margin-bottom: 41px;
  }

  &__check-img {
    float: left;
    margin-right: 20px;
  }
}

.about-tutor {
  width: 1260px;
  margin: 109px auto 0;
  color: #484848;

  &__title {
    margin-bottom: 22px;
  }

  &__subtitle {
    max-width: 873px;

    &:nth-child(2){
      margin-bottom: 24px;
    }
  }

  &__school {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__school-title {
    max-width: 675px;
  }

  &__school-button {
    font: 600 26px/34px 'Proxima Nova', sans-serif;
    color: #f85a69;
    border-radius: 30px;
    border: 2px solid #f85a69;
    padding: 17px 52px;
    box-sizing: border-box;
  }

  &__quote {
    margin-top: 41px;
    text-align: right;
  }

  &__site {
    margin-top: 41px;
    font: 600 22px/34px 'Proxima Nova', sans-serif;
    text-align: right;
  }

  &__link {
    text-decoration: none;

    &:visited {
      color: #6792ff;
    }
  }
}

.course-questions {
  width: 1260px;
  color: #484848;
  margin: 79px auto 141px;

  &__title {
    margin-bottom: 11px;
  }

  &__subtitle {
    max-width: 873px;
  }

  &__quote {
    text-align: right;
    margin: 41px 0 94px;
  }
}

.people-target {
  padding-top: 54px;
  padding-bottom: 74px;

  &__block {
    max-width: 1260px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(460px, 620px));
    grid-template-rows: repeat(2, minmax(280px,360px));
    grid-gap: 30px 20px;

  }

  &__list-item {
    list-style-type: none;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0, 0.15);
    padding: 32px 0 0 60px;
    box-sizing: border-box;

    &:first-child,
    &:nth-child(2){
      .subtitle {
        max-width: 535px;
      }
    }
  }

  &__heading {
    font: 700 30px/34px 'Proxima Nova', sans-serif;
    margin: 21px 0 24px;
  }

  &__subtitle {
    max-width: 520px;
  }
}

.about-authors {
  color: #484848;
  padding: 33px 0 138px 330px;

  &__title {
    font: 700 36px/44px 'Proxima Nova', sans-serif;
    margin: 50px 0 65px;

    &:nth-child(3) {
      margin: 77px 0 54px;
    }
  }

  &__subtitle {
    max-width: 313px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1490px;
  }

  &__list-item {
    max-width: 343px;
    list-style-type: none;
  }

  &__avatar {
    margin-bottom: 63px;
  }

  &__name {
    font: 600 32px/34px 'Proxima Nova', sans-serif;
    margin-bottom: 11px;
  }

  &__change_margin {
    margin-bottom: 30px;
  }
}

.discipline-block {
  padding: 112px 0 94px 330px;
  color: #484848;

  &__title {
    margin-bottom: 50px;
  }

  &__list {
    max-width: 872px;
    margin-left: 220px;
  }

  &__list-item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  &__number {
    align-self: flex-start;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }

  &__heading {
    color: #f85a69;
    font: 700 30px/30px 'Proxima Nova', sans-serif;
    margin-bottom: 5px;
  }

  &__subtitle {
    max-width: 571px;
  }
}
