.slider {
  position: relative;
  max-width: 1162px;
  margin: 128px auto 127px;
  box-sizing: border-box;
  padding: 0 20px 0 43px;

  &__name {
    font: 700 28px/34px 'Raleway', sans-serif;
    max-width: 300px;
    margin-bottom: 17px;
  }

  &__subtitle {
    max-width: 300px;
    margin: 0 auto;
    font: 500 18px/30px 'Raleway', sans-serif;
  }

  &__avatar {
    display: block;
    align-self: flex-start;
  }

  &__container {
    overflow: hidden;
  }

  &__wrapper {
    /*overflow: hidden;*/
  }

  &__items {
    display: flex;
    transition: transform 0.5s ease;
    align-content: center;
  }
}


.slider_disable-transition {
  transition: none;
}

.slider__item {
  flex: 0 0 50%;
  max-width: 50%;
  user-select: none;
  display: flex;
  gap: 38px;
}

/* кнопки влево и вправо */

.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  color: #fff;
  text-align: center;
  height: 50px;
  transform: translateY(-50%);
}

.slider__control_hide {
  display: none;
}

.slider__control[data-slide='prev'] {
  left: -15px;
}

.slider__control[data-slide='next'] {
  right: -15px;
}

.slider__control:hover,
.slider__control:focus {
  text-decoration: none;
  outline: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 82px;
  height: 30px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control[data-slide='prev']::before {
  background-image: url("../img/container/slider/arrow.svg");
}

.slider__control[data-slide='next']::before {
  background-image: url("../img/container/slider/arrow.svg");
  transform: rotate(180deg);
}

/* индикаторы */

.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.slider__indicators li.active {
  background-color: rgba(255, 255, 255, 0.9);
}