.course-information {
  background-image: url("../img/container/course-information/course-information__back.jpg");
  background-repeat: no-repeat;
  height: 756px;
  background-position: center;
  margin-top: 110px;
  transition: background-position 1s cubic-bezier(0.68,0.12,0.58,1);

  &__container {
    max-width: 1160px;
    margin: 0 auto;
    color: #ffffff;
    padding: 122px 0 179px;
    box-sizing: border-box;
  }

  &__description {
    font: 500 26px/34px 'Raleway', sans-serif;
    margin-bottom: 68px;
  }

  &__title {
    font: 500 45px/50px 'Raleway', sans-serif;
    max-width: 615px;
    margin-bottom: 21px;
  }

  &__subtitle {
    font: 500 20px/30px 'Raleway', sans-serif;
    max-width: 593px;
    margin-bottom: 48px;
  }

  &__button {
    color: #ffffff;
    display: inline-block;
    border-radius: 30px;
    background-color: #e83042;
    font: 600 22px/34px 'Raleway', sans-serif;
    padding: 18px 71px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    position: relative;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);

    &:hover {
      background: #ff4e58;
      box-shadow: 0 15px 20px rgba(255, 78, 88, 0.4);
      color: white;
      transform: translateY(-7px);
    }
  }

  &__start-time {
    font: 400 22px/34px 'Raleway', sans-serif;
    margin-left: 45px;
  }

  &__box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 50px;
  }
}

.course-faq {
  max-width: 1156px;
  margin: 0 auto;
  box-shadow: 0 23px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-22px);
  padding: 56px 64px 61px 64px;
  box-sizing: border-box;
  background-color: #ffffff;
  gap: 50px;

  &__container {
    width: 480px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__content {
    max-width: 219px;
    &:nth-child(2) .course-faq__tag {
      max-width: 160px;
    }
  }

  &__tags {
    font: 700 28px/34px 'Raleway', sans-serif;
    margin-bottom: 10px;
  }

  &__tag {
    font: 500 18px/26px 'Raleway', sans-serif;
  }
}

.course-advantages {
  max-width: 1160px;
  margin: 116px auto 0;
  padding: 0 20px;

  &__container {
    display: flex;
    gap: 56px;
    margin-bottom: 46px;
    padding-right: 38px;
    opacity: 0;
    transition: all 0.7s ease;


    &:nth-child(2) {
      justify-content: flex-end;
      top: -225px;
      position: relative;
    }
  }

  &__title {
    font: 700 45px/55px 'Raleway', sans-serif;
    max-width: 350px;
  }

  &__number {
    font: 40px/40px 'LC Chalk';
  }

  &__line {
    margin: 9px 0 28px;
  }

  &__subtitle {
    font: 500 18px/30px 'Raleway', sans-serif;
    max-width: 330px;
  }
}

.who-is-tutor {
  max-width: 1162px;
  box-sizing: border-box;
  padding: 73px 64px 89px 108px;
  background-color: rgba(100, 100, 100, 0.1);
  border-radius: 30px;
  margin: 116px auto 120px;

  &__title {
    font: 700 60px/90px 'Raleway', sans-serif;
  }

  &__subtitle {
    font: 500 18px/30px 'Raleway', sans-serif;
    max-width: 875px;
    margin-bottom: 47px;
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    gap: 66px;
  }

  &__tag {
    font: 700 28px/34px 'Raleway', sans-serif;
    margin-bottom: 10px;
  }

  &__description {
    font: 500 18px/30px 'Raleway', sans-serif;
    max-width: 326px;
  }
}

.about-training {
  max-width: 1162px;
  margin: 0 auto;
  padding: 0 20px;

  &__heading {
    font: 700 60px/90px 'Raleway', sans-serif;
    margin-bottom: 93px;
  }

  &__container {
    margin-left: 104px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    gap: 98px;
    margin-bottom: 76px;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &__title {
    font: 700 28px/34px 'Raleway', sans-serif;
    margin-bottom: 15px;
  }

  &__subtitle {
    max-width: 572px;
    font: 500 18px/30px 'Raleway', sans-serif;
  }

  &__quote {
    font: 25px/132% 'LC Chalk';
    max-width: 310px;
  }

  &__organization-link {
    font: 500 18px/30px 'Raleway', sans-serif;
    max-width: 278px;
  }

  &__link {
    color: #000000;
  }
}

.people-target {
  padding: 54px 20px 74px;
  max-width: 1162px;
  margin: 0 auto;

  &__title {
    margin-bottom: 102px;
    font: 700 60px/90px 'Raleway', sans-serif;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    gap: 41px;
    margin-bottom: 36px;

    &:nth-child(2) {
      justify-content: flex-end;
    }
  }

  &__list-item {
    list-style-type: none;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0, 0.15);
    padding: 38px 60px 77px;
    box-sizing: border-box;
    max-width: 360px;

    &_hover-animation {
      position: relative;
      transition: all 1s ease;
      top: 0;

      &:hover {
        color: #0eb1d7;
        top: -50px;
        transform: scale(1.1);
        box-shadow: 0 4px 20px 0 rgba(14, 177, 215, 0.25);
      }
    }
  }

  &__heading {
    font: 700 28px/34px 'Raleway', sans-serif;
    margin-bottom: 27px;
  }

  &__subtitle {
    font: 500 18px/30px 'Raleway', sans-serif;
  }
}

.about-authors {
  padding-top: 33px;
  max-width: 1162px;
  margin: 0 auto;

  &__container {
    padding-left: 43px;
  }

  &__header {
    font: 700 60px/70px 'Raleway', sans-serif;
    max-width: 857px;
  }

  &__title {
    font: 700 45px/55px 'Raleway', sans-serif;
    margin: 102px 0 85px;
    max-width: 544px;

    &:nth-child(5) {
      max-width: 836px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &__list-item {
    max-width: 50%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 38px;
    align-content: center;
    margin-bottom: 45px;
  }


  &__avatar {
    align-self: flex-start;
  }

  &__name {
    font: 700 28px/34px 'Raleway', sans-serif;
    margin-bottom: 17px;
  }

  &__subtitle {
    font: 500 18px/30px 'Raleway', sans-serif;
    max-width: 300px;
  }
}

.discipline-block {
  max-width: 1042px;
  margin: 0 auto;
  background-color: rgba(100, 100, 100, 0.1);
  border-radius: 30px;
  padding: 71px 0 30px;

  &__title {
    font: 700 60px/65px 'Raleway', sans-serif;
    margin: 0 auto 56px;
    max-width: 611px;
  }

  &__list {

  }

  &__list-item {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap: 46px;
    max-width: 604px;
    margin: 18px auto;
    padding-right: 20px;
    height: 171px;
  }

  &__number {
    font: 500 40px/152% 'LC Chalk';
  }

  &__heading {
    font: 700 28px/34px 'Raleway', sans-serif;
    margin-bottom: 10px;
  }

  &__subtitle {
    max-width: 488px;
    font: 500 18px/30px 'Raleway', sans-serif;
  }
}

.js-number-target {
  position: relative;
  &::before {
    content: url("../img/container/discipline-block/line.png");
    position: absolute;
    top: 20px;
  }
}

.teachers-feedback {
  max-width: 1030px;
  position: relative;
  margin: 0 auto 85px;
  padding: 41px 0;


  &__title {
    font: 700 60px/65px 'Raleway', sans-serif;
    margin: 198px auto 42px;
    max-width: 525px;
  }

  &__slider {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 35px;
    padding: 76px 0 134px;
    height: 480px;
    box-sizing: border-box;
  }

  &__prev,
  &__next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  &__next {
    right: -43px;
    border-radius: 3px 0 0 3px;
  }

  &__prev {
    left: -43px;
    border-radius: 3px 0 0 3px;
  }

  &__prev:hover,
  &__next:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &__slideText {
    color: #000;
    font: 500 18px/30px 'Raleway', sans-serif;
    max-width: 756px;
    margin: 0 auto;
  }

  &__author {
    font: 700 24px/34px 'Raleway', sans-serif;
    margin-top: 24px;
  }
}
// slider for teachers-feedback
.slider-dots {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  max-width: 305px;
  align-items: center;
}

.slider-dots_item {
  display: block;
  cursor: pointer;
  height: 12px;
  width: 12px;
  background-color: #ddd;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
  background-color: #aaa;
}
/* Анимация слайдов */
.teachers-feedback__item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.active {
  border: 4px solid #087C96;
}
//
.session-dates {
  padding: 0 20px;

  &__container {
    max-width: 1378px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: rgba(100, 100, 100, 0.1);
    padding: 73px 20px 83px;
  }

  &__block {
    margin: 0 auto;
    max-width: 1034px;
    padding-right: 100px;
  }

  &__title {
    font: 700 60px/90px 'Raleway', sans-serif;
    margin-bottom: 45px;
  }

  &__list {
    font: 500 32px/60px 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__items {
    font: 500 32px/60px 'Raleway', sans-serif;
    display: flex;
    justify-content: flex-start;
    gap: 164px;
    margin-top: 62px;
  }

  &__list-item {
    list-style-type: none;

  }

  &__diploma {
    margin: 62px auto 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1144px;
  }

  &__diploma-title {
    font: 700 32px/46px 'Raleway', sans-serif;
    max-width: 335px;
  }

  &__subtitle {
    max-width: 752px;
    font: 400 22px/34px 'Raleway', sans-serif;
  }

  &__header {
    max-width: 1144px;
    margin: 217px auto 65px;
    font: 700 60px/65px 'Raleway', sans-serif;
  }

  &__to-proceed {
    max-width: 1144px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block-text {
    max-width: 420px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px 0 rgba(0,0,0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 18px 11px 18px 18px;
  }

  &__text {
    font: 400 22px/34px 'Raleway', sans-serif;
    width: 309px;
  }

  &__text-info {
    font: 400 20px/34px 'Raleway', sans-serif;
  }

  &__vertical-line {
    align-self: flex-start;
    margin-top: 12px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    gap: 18px;
  }

  &__text-list {
    list-style-type: none;
    max-width: 650px;
  }

  &__text-list:not(:last-child) {
    margin-bottom: 90px;
  }

  &__text-list:nth-child(2) {
    margin-bottom: 90px;
  }
}

.faq {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 20px 100px;

  &__title {
    margin: 170px 0 65px;
    font: bold 60px/65px 'Raleway', sans-serif;
  }

  &__container {
    display: grid;
    grid-template-rows: repeat(4, minmax(80px, max-content));
    grid-template-columns: repeat(1, minmax(80px, 620px));
    grid-gap: 20px;
  }

  &__accordion {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(0,0,0, 0.1);
    cursor: pointer;
  }

  &__position {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 700 22px/34px 'Raleway', sans-serif;
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 23px 20px 23px 30px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s ease;
    border-radius: 10px;
  }

  &__accordion_hide {
    font: 400 20px/34px 'Raleway', sans-serif;
    padding: 0 35px 0 30px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.3s ease-out,
                opacity 0.5s ease-in-out;
  }

  &__arrow {
    transition: all 0.8s ease;
  }
}

.target {
  height: auto;
  overflow: visible;
  padding-bottom: 16px;
  opacity: 1;
}

.rotate {
  transform: rotateX(-180deg);
}

.program-experts {
  max-width: 1365px;
  margin: 0 auto;
  padding: 73px 20px 201px;

  &__title {
    margin-left: 50px;
    font: 700 45px/55px 'Raleway', sans-serif;
    max-width: 1080px;
    margin-bottom: 100px;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    max-width: 1260px;
    margin: 0 auto 31px;
  }

  &__subtitle {
    font: 400 20px/30px 'Raleway', sans-serif;
    max-width: 220px;
    text-align: center;
    position: relative;
    right: 60px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1365px;
  }

  &__text {
    font: 400 20px/30px 'Raleway', sans-serif;
    text-align: center;
    display: block;
  }

  &__list-item img {
    display: block;
    margin: 0 auto 16px;
  }
}

.join-form {
  padding: 68px 20px 91px;
  background-color: #1B191E;

  &__form {
    max-width: 420px;
  }

  &__container {
    //box-sizing: border-box;
    //position: fixed;
    //z-index: 1;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__price-form {
    color: #ffffff;
    background-color: #686470;
    border-radius: 10px 10px 0 10px;
    box-shadow: 18px 4px 25px 0 rgba(0,0,0, 0.15);
    max-width: 620px;
    padding: 106px 98px 118px 60px;
  }

  &__price-title {
    margin-bottom: 35px;
    font: 700 45px/55px 'Raleway', sans-serif;
  }

  &__price-month {
    font: 900 60px/70px 'Raleway', sans-serif;
    margin-bottom: 15px;

    & span {
      font: 600 32px/34px 'Raleway', sans-serif;
    }
  }

  &__price-full {
    margin-bottom: 44px;
    font: 600 32px/34px 'Raleway', sans-serif;
  }

  &__check {
    padding-top: 10px;
  }

  &__list-item {
    font: 400 22px/34px 'Raleway', sans-serif;
    list-style-type: none;
    display: flex;
    max-width: 410px;
    align-items: flex-start;
    margin-bottom: 22px;
    gap: 12px;
  }

  &__block {
    max-width: 634px;
    box-sizing: border-box;
    padding: 25px 51px 30px 83px;
    background-color: #ffffff;
    border-radius: 0 10px 10px 0;
  }

  &__title {
    font: 700 45px/55px 'Raleway', sans-serif;
  }

  &__subtitle {
    margin: 12px 0 23px;
    max-width: 420px;
    font: 400 20px/32px 'Raleway', sans-serif;
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 420px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 24px 23px 24px 23px;
    font: 400 22px/24px 'Raleway', sans-serif;
    color: #000000;

    &::placeholder {
      font: 400 22px/24px 'Raleway', sans-serif;
      color: #000000;
    }

    &:focus-visible {
      outline: none;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  &__description {
    text-align: center;
    max-width: 412px;
    font: 400 16px/18px 'Raleway', sans-serif;
    margin-top: 21px;
  }

  &__button {
    background-color: #f85a69;
    border-radius: 30px;
    color: #ffffff;
    font: 600 22px/34px 'Raleway', sans-serif;
    border: none;
    width: 100%;
    padding: 18px 0;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
      background: #ff4e58;
      box-shadow: 0 0 15px 0 rgba(255, 78, 88, 0.4);
    }
  }

}
// dropout menu for join-form
.feedback-form__container {
  padding: 0 0;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  max-width: 420px;
}

.top-text-wrapper {
  margin: 20px 0 30px 0;
}

.top-text-wrapper code{
  font-size: .85em;
  background: linear-gradient(90deg,#fce3ec,#ffe8cc);
  color: #ff2200;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}
.tab-section-wrapper{
  padding: 30px 0;
}

.select-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.select-box .options-container {
  max-height: 0;
  width: calc( 100% - 2px);
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  border-radius: 5px;
  border: solid 1px #dcdfe5;
  background-color: #ffffff;
  order: 1;
  position: absolute;
  top: 74px;
}

.selected {
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  border: 1px solid #000000;
  order: 0;
  margin-bottom: 20px;
  padding: 24px 20px;
}

.selected::after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' id='icon-arrow' width='14' height='8'%3e%3cpath d='M13.508.174a.57.57 0 00-.809 0l-5.86 6.43L.976.175a.57.57 0 00-.81 0 .577.577 0 000 .813l6.238 6.844c.119.12.277.17.433.163a.564.564 0 00.433-.163L13.508.987a.577.577 0 000-.813z'/%3e%3c/svg%3e");
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  position: absolute;
  right: 15px;
  top: 50%;
  transition: transform .5s;
  transform: translateY(-50%);
}

.selected span, .select-box label span {
  font: 400 22px/24px 'Raleway', sans-serif;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: translateY(-50%) rotateX(180deg);
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #f85a69;
  border-radius: 0 5px 5px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #f85a69;
  border-radius: 0 5px 5px 0;
}

.select-box .option {
  box-sizing: border-box;
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #dcdfe5;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}
// end dropout menu for join-form
.yandex-map {
  position: relative;
}

.contacts {
  border-radius: 20px;
  box-shadow: 0 4px 25px 0 rgba(0,0,0, 0.15);
  padding: 67px 195px 64px 98px;
  max-width: 760px;
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  bottom: 71px;
  left: 180px;

  &__adaptive {
    display: none;
  }

  &__button {
    position: absolute;
    top: 35px;
    right: 35px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;

  }

  &__content_hide {
    opacity: 1;
    transition: all 1s;
  }

  &__title {
    font: 700 40px/44px 'Raleway', sans-serif;
  }

  &__subtitle {
    margin: 42px 0 45px;
    font: 700 32px/32px 'Raleway', sans-serif;
  }

  &__description {
    font: 400 22px/34px 'Raleway', sans-serif;
    max-width: 466px;
    margin-bottom: 50px;
  }

  &__link {
    text-decoration: none;
    margin-right: 30px;
  }

  &__information {
    text-decoration: none;
    color: #000000;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;

    & img {
      width: 24px;
    }

    &:hover {
      color: #444444;
    }
  }
}

.scrollUp-button {
  opacity: 0.95;
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition:  opacity 0.3s ease;
  cursor: pointer;
}