.footer {
    padding: 18px 0 18px;
    color: #ffffff;
    text-align: center;
    background-color: #1b191e;

    &__link {
        color: #ffffff;
        text-decoration: none;
        font: 600 22px/48px 'Raleway', sans-serif;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        max-width: 508px;
        margin: 0 auto;
    }
}


