.footer {
    padding: 18px 20px 18px;
    color: #ffffff;
    text-align: center;
    background-color: #17144D;
    line-height: 48px;

    &__link {
        color: #ffffff;
        text-decoration: none;
    }

    &__block {
        display: flex;
        justify-content: center;
        max-width: 508px;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    &__img {
        margin: 0 30px  0 20px;
        max-height: 36px;
        padding-top: 8px;
    }
}