.footer {
    padding: 18px 20px 18px;
    color: #ffffff;
    text-align: center;
    background-color: #453A72;

    &__link {
        color: #ffffff;
        text-decoration: none;
        font: 600 22px/48px 'Raleway', sans-serif;
    }

    &__block {
        display: flex;
        justify-content: center;
        max-width: 508px;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 30px;
    }
}


