.header-container {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  top: 0;
  transition: top 0.5s ease-out;
  z-index: 2;
  box-shadow: 0 0 2px 0 #000000;
}

.header {
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 30px;
  align-items: center;
  gap: 72px;



  &__logo {
    margin-right: 30px;
    align-self: flex-start;
  }

  &__nav-menu {
    display: flex;
    justify-content: space-between;
    width: 1036px;
  }

  &__link {
    font: 600 22px/48px 'Raleway', sans-serif;
    text-decoration: none;
    color: #000000;
    position: relative;
    transition: all .5s ease;

    &::after {
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      content: '.';
      color: transparent;
      background: #000000;
      height: 1px;
      transition: all .5s;
    }

    &:hover {
      color: #555555;
      &::after {
        width: 100%;
      }
    }
  }
}

.button_red {
  font: 600 22px/48px 'Raleway', sans-serif;
  text-decoration: none;
  color: #ffffff;
  border-radius: 30px;
  padding: 1px 51px;
  background-color: #e83042;
  transition: 0.2s linear;

  &:hover {
    background: #ff4e58;
    box-shadow: 0 0 15px rgba(255, 78, 88, 0.4);
  }
}