.header {
  max-width: 1242px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  align-items: center;

  &__logo {
    margin-right: 30px;
    align-self: flex-start;
  }

  &__nav-menu {
    display: flex;
    justify-content: space-between;
    width: 808px;
  }

  &__link {
    font: 600 22px/48px 'Proxima Nova', sans-serif;
    text-decoration: none;
    color: #484848;
  }
}

