.header {
  max-width: 1451px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-left: 348px;

  &__logo {
    margin-right: 30px;
  }

  &__nav-menu {
    display: flex;
    justify-content: space-between;
    width: 989px;
    align-items: center;
  }

  &__link {
    font: 600 22px/48px 'Proxima Nova', sans-serif;
    vertical-align: center;
    text-decoration: none;
    color: #383838;
  }
}

