@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova-Semibold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova-Black.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.background-color {
  &_whiteblue {
    background-color: #f9faff;
  }

  &__darkblue {
    background-color: #0A315F;
  }
}

@@include('_header.scss')
@@include('_body.scss')