@font-face {
  font-family: 'LC Chalk';
  src: url("../fonts/LC_Chalk.ttf") format('ttf');
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}

@@include('_header.scss')
@@include('_container.scss')
@@include('_footer.scss')
@@include('_chief-slider.scss')
@@include('_adaptive.scss')

.loaded {
    opacity: 1 !important;
    top: 0 !important;
}